{% extends "base.jinja" %}

{% block content %}
    <h2>CDN 109</h2>
    <h2>Locations:</h2>
    {% for location in cdn.locations %}
        <span>{{ location }} </span>
    {% endfor %}
    <h2>Menu Options:</h2>
    {% for food in cdn.foods %}
        <p>{{ food }}</p>
    {% endfor %}
{% endblock %}